*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid#8c8e91;
    padding: 10px;
    background:linear-gradient(45deg,#d3fc19,#38d7d7) ;
}
.calculator{
    border: 1px solid#8c8e91;
    padding: 10px;
    border-radius:16px;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);

}
input{
    width: 100%;
    border: none;
    padding: 24px;
    margin:10px ;
    color: #e01515;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}
input::placeholder{
    color: #ffffff;
}
button{
    border: 1px solid#8c8e91;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius:50% ;
    background: transparent;
    color: #020000;
    font-size:20px;
    box-shadow:-8px -8px 15px rgba(255,255,255,0.3);
    cursor:pointer;
}
.operator{
    color: rgb(237, 6, 6);
}